.titulo-menu {
    -fx-text-fill: #ffffff; /* Mudei para branco para destacar no fundo escuro, mude se quiser */
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-font-size: 36px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0); /* Sombra para dar efeito retro */
}

.botao-menu {
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-font-size: 22px; /* Aumentei um pouco a fonte também para acompanhar o tamanho */
    -fx-background-color: #ff2222;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    
    /* MODIFICAÇÕES DE TAMANHO: */
    -fx-min-width: 260px;       /* Botões mais largos (era 220px) */
    -fx-padding: 20px 40px;     /* Botões mais altos e gordinhos (era 12px 20px) */
}

.botao-menu:hover {
    -fx-background-color: #cc1111;
    -fx-text-fill: #e0e0e0;
}